@import 'ckeditor-tailwind-reset/ckeditor-tailwind-reset';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Pretendard', 'Noto Sans', sans-serif, system-ui, sans-serif;
  }
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px;
  margin-bottom: 20px;
}
.main-content {
  max-width: 1024px;
  @apply w-full m-auto py-12;
}
.set-max-width {
  max-width: 1024px;
}

.comment-editor .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  border: none;
}

.comment-editor .ck.ck-toolbar {
  border: 1px solid #eeeeee;
}
.set-max-width{
  max-width:1024px;
}
.modal-outline{
  background:rgba(0,0,0,0.5);
}
.test-ani:hover{
  animation: bell 2s infinite linear;
}
@keyframes bell{
  0%, 50%{
    transform: rotate(0deg);
  }
  5%, 15%, 25%, 35%, 45% {
    transform: rotate(13deg);
  }
  10%, 20%, 30%, 40% {
    transform: rotate(-13deg);
  }
}
