@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Pretendard", "Noto Sans", sans-serif, system-ui, sans-serif;
  }
}
* {
  box-sizing: border-box;
}
.dashboard-title{
  background:rgba(119, 164, 232, 0.15);
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px;
  margin-bottom: 20px;
}
.test-div *{

}